body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #5f8eab;
}

.calculator {
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: 8px solid rgba(255, 255, 255, 0.1);
}

.screen {
  height: 65px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 10px;
  font-size: 40px;
  color: white;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}
.input {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
}

.sign {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 50px;
}

.keys {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.d-flex { display: flex; }

.key, .reset {
  border-radius: 2px;
  padding: 5px;
  margin: 2px;
  width: 100%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: 0.1s;
  border-top: 0px solid #5f8eab;
  border-bottom: 5px solid rgba(0, 0, 0, 0.15);
  cursor: default;
  user-select: none;
}

* { box-sizing: border-box; }

.reset {
  margin: 0;
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.key:hover, .reset:hover {
  border-top: 1px solid rgba(94, 141, 171, 1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

.key:active, .reset:active {
  border-top: 3px solid rgba(0, 0, 0, 0.09);
  border-bottom: 0px solid rgba(0, 0, 0, 0.15);
}
